body {
  margin: 2em;
}
.app {
  max-width: 1200px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.server {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}
