.button {
  width: 8em;
  height: 2em;
  color: white;
  background-color: rgb(146, 103, 194);
  border: none;
  border-radius: 7px;
  font-size: 1.1em;
  margin: 0.2em;
}

.button:disabled {
  background-color: gray;
}

.add-task__input {
  border: 1px solid rgb(146, 103, 194);
  padding: 1em;
  border-radius: 10px;
  width: 3em;
  height: 0.6em;
  margin: 0.2em;
}

.task {
  width: 100%;
  height: 2em;
  margin: 0.5em 0;
  border-radius: 15px;
  border: 5px solid rgb(146, 103, 194);
  position: relative;
  margin-right: 2em;
}

.task > span {
  position: absolute;
  max-width: 100%;
  left: 0;
  top: 0;
  height: 100%;
  background-color: rgb(146, 103, 194);
}

.task-details {
  position: absolute;
  top: 50%;
  left: 2em;
  transform: translate(0%, -50%);
  color: white;
}

.task-delete > img {
  position: absolute;
  left: 100%;
  top: 0;
  width: 25px;
  margin: 0.5em;
  cursor: pointer;
}
