.button {
  width: 8em;
  height: 2em;
  color: white;
  background-color: rgb(146, 103, 194);
  border: none;
  border-radius: 7px;
  font-size: 1.1em;
  margin: 0.2em;
}

.button:disabled {
  background-color: gray;
}

.add-task__input {
  border: 1px solid rgb(146, 103, 194);
  padding: 1em;
  border-radius: 10px;
  width: 3em;
  height: 0.6em;
}
